<div class="columns is-centered is-vcentered" style="min-height: 60vh;">
    <div class="column is-one-third">
        <h2 class="title is-2">Esqueceu a sua senha?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field mb-4">
                <label class="label">
                    <%= f.label :email %>
                </label>
                <div class="control">
                    <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <%= link_to "Retornar para login", new_session_path(resource_name), class: "button is-text" %><br>
                </div>

                <div class="control">
                    <%= f.submit "Envie-me instruções para resetar a senha", class: "button is-primary" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
