<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title><%= content_for(:title) || "Rss Feed" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="https://kit.fontawesome.com/caa0e5ad87.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <%= image_tag("drawing.svg") %>
        </a>
    </div>

    <% if user_signed_in? %>
        <div class="navbar-start">
            <%= link_to "Feed" , feed_index_path, class: "navbar-item" %>
                <%= link_to "Fontes" , sources_path, class: "navbar-item" %>
        </div>

        <div class="navbar-end">
            <div class='navbar-item'>
                <%= button_to destroy_user_session_path, method: :delete, data:
                    {confirm: 'Are you sure you want to sign out?' }, class: 'button is-light' do %>
  <i class="fas fa-sign-out-alt"></i> Sign Out
<% end %>
            </div>
        </div>
    <% end %>
</nav>
<body>
  <%= yield %>
</body>
</html>
